
body {
  margin: 0;
  padding: 0;
  background-color: #100519;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button, h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

.flashcard {
  background-color: #000000;
  border: 2px solid #4b61ac;
  border-radius: 16px;
  color: #000000;
  transition: transform 0.6s ease-in-out;
}

.flashcard.flipped {
  background-color: #41836d;
}

button {
  background-color: #41836d;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8ca6db;
}
